/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-bottom: 50px;
}

.control-label {
  margin-top:5px;
}

.form-group {
  padding-bottom: 30px
}

#footer {
  text-align: center;
  background-color: #f9f9f9;
  min-height: 30px;
  padding: 10px;
  color: #777777;
}

#footer .container p {
  margin:0;
}

#home-link {
  color:#777;
  text-decoration: none;
}

.page-header {
  margin:20px 0 20px;
}

table th {
  text-align:center;
}

table th .current {
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right center;
}

table th .asc {
  background-image: url(/assets/up_arrow.png);
}

table th .desc {
  background-image: url(/assets/down_arrow.png);
}
